<div class="ui-btn-icon-left ui-shadow ui-corner-all ui-icon-carat-l header" data-role="header" >
    <h1> rutas</h1>
</div>
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="select_horizontal">
        <input type="radio" name="radio-choice-b" id="radio-choice-c" value="list" checked="checked">
        <label for="radio-choice-c">Estaciones</label>
        <input type="radio" name="radio-choice-b" id="radio-choice-d" value="grid">
        <label for="radio-choice-d">Paraderos</label>        
</fieldset>

<div>
    <ul data-role="listview" id="ul_listado_estaciones" data-filter="true" data-filter-placeholder="Busca la estacion" > 
    <li><a href="#"><span >Portal de Soledad</span></a></li>
    <li><a href="#"><span >Pacho Galán</span></a></li>
    <li><a href="#"><span >Pedro Ramayá</span></a></li>
    <li><a href="#"><span >Joaquín Barrios Polo</span></a></li>
    <li><a href="#"><span >Buenos Aires</span></a></li>
    <li><a href="#"><span >La Ocho</span></a></li>
    <li><a href="#"><span >La Catorce</span></a></li>
    <li><a href="#"><span >La Veintiuna</span></a></li>
    <li><a href="#"><span >Chiquinquirá</span></a></li>
    <li><a href="#"><span >La Arenosa</span></a></li>
    <li><a href="#"><span >Barrio Abajo</span></a></li>
    <li height="40px"></li>
</ul>
    
</div>
<div>
    <ul data-role="listview" id="ul_listado_rutas" data-filter="true" data-filter-placeholder="Busca la ruta" style="display:none"> 
        <li><a href="#"><span >Carrera 41 con calle Murillo (Bahía de acceso)</span></a></li>
        <li><a href="#"><span >Carrera 40 # 43 -07</span></a></li>
        <li><a href="#"><span >Carrera 40 # 40 - 37 </span></a></li>
        <li><a href="#"><span >Carrera 40 # 38 - 25 </span></a></li>
        <li><a href="#"><span >Carrera 40 # 36 - 25 </span></a></li>
        <li><a href="#"><span >Carrera 43 # 36 - 30 </span></a></li>
        <li><a href="#"><span >Carrera 43 # 39 - 26 </span></a></li>
        <li><a href="#"><span >Carrera 43 # 43 - 16</span></a></li>
        <li><a href="#"><span >Carrera 43 # 45 - 68</span></a></li>
        <li><a href="#"><span >Carrera 43 # 50 - 12</span></a></li>
        <li><a href="#"><span >Carrera 43 # 53 esquina</span></a></li>
        <li><a href="#"><span >Calle 54 # 41 - 77</span></a></li>
        <li><a href="#"><span >Carrera 41 # 52 - 69</span></a></li>
        <li><a href="#"><span >Carrera 41 # 50 - 43</span></a></li>
        <li><a href="#"><span >Carrera 41 con calle Murillo (Bahía de acceso)</span></a></li>
    </ul>

</div>
<!--  -->
<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
</div>

