<div class="ui-btn-icon-left ui-shadow ui-corner-all ui-icon-carat-l header" data-role="header" >
    <h1> rutas</h1>
</div>
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="select_horizontal">
    
        <input type="radio" name="radio-choice-b" id="radio-choice-c" checked="checked" ref="view1">
        <label for="radio-choice-c" >Troncales2</label ref="view1">
        <input type="radio" name="radio-choice-b" id="radio-choice-d"  ref="view2">
        <label for="radio-choice-d" ref="view2" >Alimentadores</label >        
</fieldset>
<div class="view1 view"> 
    <ul data-role="listview" id="ul_listado_rutas" data-filter="true" data-filter-placeholder="Busca la ruta"> 
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A1-2 </div>Centro</a></li>
        <li><a href="#"><div class="ruta_troncal">A1-3</div>Galán</a></li>
        <li><a href="#"><div class="ruta_troncal">A2-1</div>Hipódromo</a></li>
        <li><a href="#"><div class="ruta_troncal">A3-1</div>Villa Katanga</a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li><a href="#"><div class="ruta_troncal">A0-1</div> <span >Las Palmas</span></a></li>
        <li height="40px"></li>
    </ul>
</div>
<div class="view2  view">
    <span style="color:black">adsfads</span>
</div>

<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
</div>
