<div data-role="header">
    <h1>Planea tu viaje</h1>
</div>

<div role="main" class="ui-content">
    <img src="images/log.jpg" style="width: 84%;margin-bottom:10px;"alt="">
 
    <input type="search" name="password" class="search"id="search" value="" placeholder="Origen">
    <span class="imgLocation">
        <img src="images/location.png"  alt="" onclick="myLocation()">    
    </span>
    
    <input type="search" name="password" id="" value="" placeholder="Destino">
    <span class="imgLocation">
        <img src="images/location.png"  alt="" onclick="myLocation()">    
    </span>
 <a href="#rutas" class="ui-btn boton">Buscar</a>
    
</div>
<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>

</div>

