<div class="ui-btn-icon-left ui-shadow ui-corner-all ui-icon-carat-l header" data-role="header" >
    <h1>B1</h1>
</div>


<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="select_horizontal">
        <input type="radio" name="radio-choice-b" id="radio-choice-c" value="list" checked="checked">
        <label for="radio-choice-c">Rutas</label>
        <input type="radio" name="radio-choice-b" id="radio-choice-d" value="grid">
        <label for="radio-choice-d">Mapa</label>        
</fieldset>
<div class="vistas">
    <div class="vista1">
        
    </div>     
    <div class="vista2">
        
    </div>         
</div>

<div data-role="footer" class="footer">
    <a href="#planifica" class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>    
    <a href="#listado_rutas"class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#listado_estaciones" class="btn_footer"> <img class="iconsFooter" src="images/House.png"></a>    
    <a href="#mapa"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
</div>
