<div class="ui-btn-icon-left ui-shadow ui-corner-all ui-icon-carat-l header" data-role="header" >
    <h1>Rutas</h1>
</div>
<div id="enrutador">
    <div id="origen_planificador" class="estacion">Parque Cultural del Caribe</div>
    <div id="destino_planificador" class="estacion" > Tv 14 sur con calle 45H</div>
    <div id="horario_planificador" style="color:black">7:42 pm <div>Lunes-Viernes</div>    </div>    
</div>
    


<div id="contenedor_recorridos">
    <div class="recorrido">
        <div class="ruta_troncal">A0-1 </div>

        <div  class="estacion_transbordo">Transbordo:<strong >Tv 14 sur con calle 45H</strong></div>
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">45 min</div>
    </div>
    <div class="recorrido">
        <div class="ruta_troncal">B1</div>

        <div  class="estacion_transbordo">Transbordo:<strong >Tv 14 sur con calle 45H</strong></div>
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">45 min</div>
    </div>
    <div class="recorrido">
        <div class="ruta_troncal">B1</div>

        <div  class="estacion_transbordo">Transbordo:<strong >Tv 14 sur con calle 45H</strong></div>
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">40 min</div>
    </div>
    <div class="recorrido">
        <div class="ruta_troncal">B1</div>

        <div  class="estacion_transbordo">Transbordo:<strong >Tv 14 sur con calle 45H</strong></div>
        <div class="ruta_troncal">S1</div>
        <div class="tiempo_recorrido">45 min</div>
    </div>
    <div height="40px">
        
        asdfadsfadsfadsfds

    </div>

</div>
    
    



<div data-role="footer" class="footer">
    <a href="#routes" class="btn_footer"> <img class="iconsFooter" src="images/iconRoute.png"></a>
    <a href="#mapaSystem"class="btn_footer"> <img class="iconsFooter" src="images/iconMap.png"></a>
    <a href="#searchRoute"class="btn_footer"> <img class="iconsFooter" src="images/iconPlaner.png"></a>
    <a href="#station"class="btn_footer"> <img class="iconsFooter" src="images/iconStation.png"></a>
</div>
